#selection-summary-panel.clearfix
  %span.selected-count.number
    = selected
  %span.text
    = t('selection_summary_panel.of') 
  %span.total-count.number
    = total_count
  %span.text
    = t('selection_summary_panel.selected') 
